{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 1000px;
        height: 150px;
        top: 50%;
        left: 50%;
        margin-left: -100px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 30px;
        font-family: Century Gothic
        color: white;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}</p>
</div>
{% endblock %}
